///////////////////////////////////////////////////////////////////////
//  ______     ______     __         ______     ______     ______    //
// /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\   //
// \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \  //
//  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\ //
//   \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/ //
//                                                                   //
///////////////////////////////////////////////////////////////////////

// non themed colors

$black: #000000;
$white: #ffffff;
$gray-border: rgba(#777373, 0.4);
$error: #8a0e06;
$error-hover: #9c1108;

// light themed colors

$primary-light: #ffffff;
$secondary-light: #17181b;
$tertiary-light: #212226;

$link-light: rgba(#777373, 0.5);
$link-hover-light: rgba(#777373, 0.7);

$input-border-light: #7f7f7f; //rgba($black, 0.5) but to avoid transparency
$input-border-hover-light: rgba($black, 0.7);
$input-border-focus-light: rgba($black, 0.9);

$option-hover-light: rgba(#e3e3e3, 0.3);
$option-selected-light: rgba(#e3e3e3, 0.5);

$scrollbar-thumb-light: #d3d3d3;

// dark themed colors

$primary-dark: #17181b;
$secondary-dark: #e9ecef;
$tertiary-dark: #bbbdbf;

$link-dark: rgba($white, 0.5);
$link-hover-dark: rgba($white, 0.7);

$input-border-dark: #8b8c8d; //rgba($white, 0.5) but to avoid transparency
$input-border-hover-dark: rgba($white, 0.7);
$input-border-focus-dark: rgba($white, 0.9);

$option-hover-dark: rgba(#e3e3e3, 0.075);
$option-selected-dark: rgba(#e3e3e3, 0.1);

$scrollbar-thumb-dark: #28292e;

// theme lists

$all-theme: ();

$light-theme: (
  --primary: $primary-light,
  --secondary: $secondary-light,
  --tertiary: $tertiary-light,
  --link: $link-light,
  --link-hover: $link-hover-light,
  --input-border: $input-border-light,
  --input-border-hover: $input-border-hover-light,
  --input-border-focus: $input-border-focus-light,
  --border: $gray-border,
  --option-hover: $option-hover-light,
  --option-select: $option-selected-light,
  --scrollbar-thumb: $scrollbar-thumb-light,
);

$dark-theme: (
  --primary: $primary-dark,
  --secondary: $secondary-dark,
  --tertiary: $tertiary-dark,
  --link: $link-dark,
  --link-hover: $link-hover-dark,
  --input-border: $input-border-dark,
  --input-border-hover: $input-border-hover-dark,
  --input-border-focus: $input-border-focus-dark,
  --border: $gray-border,
  --option-hover: $option-hover-dark,
  --option-select: $option-selected-dark,
  --scrollbar-thumb: $scrollbar-thumb-dark,
);
