///////////////////////////////////////////////////////////////////////
//  ______     ______     __         ______     ______     ______    //
// /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\   //
// \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \  //
//  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\ //
//   \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/ //
//                                                                   //
///////////////////////////////////////////////////////////////////////

$black: #000000;
$white: #ffffff;

// non themed colors

// light themed colors

// dark themed colors

$all-theme: ();
$light-theme: ();
$dark-theme: ();
