//////////////////////////////////////////////////////////////////
//  __    __     __     __  __     __     __   __     ______    //
// /\ "-./  \   /\ \   /\_\_\_\   /\ \   /\ "-.\ \   /\  ___\   //
// \ \ \-./\ \  \ \ \  \/_/\_\/_  \ \ \  \ \ \-.  \  \ \___  \  //
//  \ \_\ \ \_\  \ \_\   /\_\/\_\  \ \_\  \ \_\\"\_\  \/\_____\ //
//   \/_/  \/_/   \/_/   \/_/\/_/   \/_/   \/_/ \/_/   \/_____/ //
//                                                              //
//////////////////////////////////////////////////////////////////

@mixin text-font {
  font-family: "Roboto", sans-serif;
}

@mixin heading-font {
  font-family: "Open Sans", sans-serif;
}

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
  transition: color, background-color 0.2s;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@mixin max-380 {
  @media only screen and (max-width: calc(380px)) {
    @content;
  }
}

@mixin max-550 {
  @media only screen and (max-width: calc(550px)) {
    @content;
  }
}

@mixin max-1000 {
  @media only screen and (max-width: calc(1000px)) {
    @content;
  }
}

@mixin max-1200 {
  @media only screen and (max-width: calc(1200px)) {
    @content;
  }
}

@mixin min-1300 {
  @media only screen and (min-width: calc(1300px)) {
    @content;
  }
}

@mixin max-1600 {
  @media only screen and (max-width: calc(1600px)) {
    @content;
  }
}

@mixin min-1600 {
  @media only screen and (min-width: calc(1600px)) {
    @content;
  }
}

@mixin container-width {
  @include max-1600 {
    width: min(800px, calc(100vw - 3rem));
    max-width: min(800px, calc(100vw - 3rem));
  }

  @include max-1200 {
    width: min(650px, calc(100vw - 3rem));
    max-width: min(650px, calc(100vw - 3rem));
  }

  @include max-1000 {
    width: min(600px, calc(100vw - 3rem));
    max-width: min(600px, calc(100vw - 3rem));
  }

  @include max-550 {
    width: min(400px, calc(100vw - 3rem));
    max-width: min(400px, calc(100vw - 3rem));
  }

  @include max-380 {
    width: calc(100vw - 3rem);
    max-width: calc(100vw - 3rem);
  }

  @include min-1600() {
    width: 800px;
  }
}
