//////////////////////////////////////////////////////////////////
//  __    __     __     __  __     __     __   __     ______    //
// /\ "-./  \   /\ \   /\_\_\_\   /\ \   /\ "-.\ \   /\  ___\   //
// \ \ \-./\ \  \ \ \  \/_/\_\/_  \ \ \  \ \ \-.  \  \ \___  \  //
//  \ \_\ \ \_\  \ \_\   /\_\/\_\  \ \_\  \ \_\\"\_\  \/\_____\ //
//   \/_/  \/_/   \/_/   \/_/\/_/   \/_/   \/_/ \/_/   \/_____/ //
//                                                              //
//////////////////////////////////////////////////////////////////

@mixin text-font {
  font-family: "Roboto", sans-serif;
}

@mixin heading-font {
  font-family: "Open Sans", sans-serif;
}

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
  transition: color, background-color 0.2s;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
