///////////////////////////////////////////////////////////////////////////////////////////////////
//  __   __   ______     ______     __     ______     ______     __         ______     ______    //
// /\ \ / /  /\  __ \   /\  == \   /\ \   /\  __ \   /\  == \   /\ \       /\  ___\   /\  ___\   //
// \ \ \'/   \ \  __ \  \ \  __<   \ \ \  \ \  __ \  \ \  __<   \ \ \____  \ \  __\   \ \___  \  //
//  \ \__|    \ \_\ \_\  \ \_\ \_\  \ \_\  \ \_\ \_\  \ \_____\  \ \_____\  \ \_____\  \/\_____\ //
//   \/_/      \/_/\/_/   \/_/ /_/   \/_/   \/_/\/_/   \/_____/   \/_____/   \/_____/   \/_____/ //
//                                                                                               //
///////////////////////////////////////////////////////////////////////////////////////////////////

$border-radius-small: 5px;
$border-radius-big: 10px;
$card-gradient: linear-gradient(to right top, #28bd28, #21a321, #198519, #106e10, #0c5e0c);
$layout-padding: 1.5rem;
$header-height: 6.5rem;
$drop-shadow: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));

$menucard-big-width: 15rem;
$menucard-big-height: 20rem;
$menucard-small-width: 30rem;
$menucard-small-height: 5rem;

$input-min-width: 4rem;

@mixin without-layout-padding {
  margin-left: -$layout-padding;
  margin-right: -$layout-padding;
  width: calc(100% + (2 * $layout-padding));
}
