@use "../config/" as *;

.footer-container {
  border-top: solid 1px var(--border);
  display: flex;
  padding: 2rem;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  @include container-width;
  margin: 20rem auto 0 auto;
  max-width: calc(100vw - $layout-padding * 2 - 4rem) !important;
}

.footer-items {
  display: flex;
  gap: 4rem;
  flex-flow: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  display: grid;
  grid-template-areas: "title" "entries";
  max-width: 15rem;
  width: 15rem;
  height: fit-content;

  .footer-section-title {
    grid-area: title;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
  }

  .footer-section-entries {
    grid-area: entries;
    display: flex;
    gap: 1rem;

    .footer-disclaimer {
      color: var(--link);
    }
  }
}

.footer-endnote {
  display: flex;
  flex-direction: column;

  .footer-copyright {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@include max-550 {
  .footer-items {
    flex-direction: column;
  }
}
