@use "../config/" as *;

.header-container {
  height: calc($header-height - (2 * $layout-padding));
  position: sticky;
  display: grid;
  grid-template-columns: 20% calc(60% - 2rem) 20%;
  gap: 1rem;
  width: calc(100% - (2 * $layout-padding));
  top: 0;
  left: 0;
  padding: $layout-padding;
  background: transparent;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    opacity: var(--header-opacity);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  /*   &[data-background="true"] {
  }

  background-color: var(--primary);
  opacity: 0.1; */

  & > * {
    align-self: center;
    &:not(:nth-child(2)) {
      display: flex;
    }

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    &:nth-child(2) {
      @include container-width;
      max-width: 100% !important;
      justify-self: center;
    }
  }
}
