@use "../config/" as *;

.layout-container {
  margin-top: -$header-height;
  display: flex;
  padding: $layout-padding;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background: url("../../assets/background.svg");
  background-color: var(--primary);

  .layout-content {
    min-height: calc(100vh - $layout-padding);
  }

  header {
    flex: auto;
  }

  footer {
    flex: auto;
  }
}
