@use "../config/" as *;

.flex-grow {
  flex-grow: 1;
}

.menupage-container {
  display: flex;

  position: relative;
  height: calc(100vh - $header-height);
  margin-top: calc($header-height - $layout-padding);
}

.menupage-divider {
  transform: rotate(90deg);
  width: 100vh;
  height: 30vw;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}

.menupage-menu-container {
  flex: 1;
  display: flex;
}

.menupage-comments-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.comments-pane {
  background-color: $background-secondary;
  border-radius: $border-radius-big;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.87);

  padding: 2rem;
  margin: 0 2rem;
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-box {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.comments-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
}

.comment-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // TODO: You shall not grow! (because of title) + insert padding between rating
}

.comment-title {
  font-weight: bold;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.comment-content {
  hyphens: auto;
  text-align: justify;
}

.comment-user-box {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.comment-user-date {
  color: $foreground-secondary;
  font-size: 14px;
  padding-top: 1px; // Else, the font does not look centered

  span {
    font-style: italic;
  }
}

.comment-user-user-box {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.comment-box:hover {
  .comment-user-icons {
    visibility: visible;
    opacity: 1;
  }
}

.comment-user-icons {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: center;
  font-size: 24px;

  svg {
    transition: 0.2s;
  }

  svg:hover {
    color: $foreground-hover;
  }

  svg.comment-user-icon-urgent:hover {
    color: $foreground-hover-urgent;
  }
}

.comment-editor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment-editor-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.comment-editor-title {
  flex-grow: 1;
}

.comment-editor-submit-box {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.comment-editor-writer-box  {
  display: flex;
  flex-direction: row-reverse;
}

.comment-editor-spacer {
  height: 1px;
  background-color: $foreground-tertiary;
}

.comment-editor-button {
  color: $accent-primary; //TODO: Do proper styling
  background-color: $accent-primary; //TODO: Do proper styling
}
