@use "../config" as *;

.menupage-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: calc($header-height - $layout-padding);
  justify-content: space-between;
  gap: 5rem;
}

.menupage-menu-container {
  position: relative;
  margin-left: calc(($layout-padding + 15rem) * -1);
  margin-top: 7rem;
  display: flex;
  height: fit-content;
  width: fit-content;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}

.menupage-comments-container {
  display: flex;
  justify-content: center;
  max-height: 900px;
  width: 100%;
  margin-top: 2rem;

  .menupage-comments-content {
    height: 100%;
    @include container-width;
  }
}

.menupage-blob {
  width: 900px;
  height: 900px;

  path {
    fill: var(--home-accent);
  }
}

.menu-container {
  position: absolute;
  display: grid;
  grid-template-areas: "vote title" "vote description" "date label";
  padding: 2rem;
  margin-left: 15rem;
  width: calc(80% - 15rem);
  gap: 0.75rem;
  top: 30%;
  color: $white;
}

.menu-vote {
  grid-area: vote;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.menu-title {
  grid-area: title;
}

.menu-content {
  grid-area: description;
  font-weight: 300;
  font-size: 1.3rem;
  margin-top: -0.75rem;
}

.loginbox-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  .noresult {
    align-self: flex-start;
    padding-top: 0;
  }
}

.commentbox-container {
  max-height: 900px;
  display: grid;
  grid-template-areas: "title" "comments" "button";
  gap: 1rem;

  .commentbox-title {
    grid-area: title;
  }

  .commentbox-buttons {
    grid-area: button;
    height: fit-content;
    justify-self: flex-end;
    align-self: center;
    display: flex;
    gap: 0.5rem;
  }

  .commentbox-comments {
    grid-area: comments;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    padding-right: 0.25rem;

    .comments-loader {
      padding: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .newcomment-container {
      display: grid;
      padding: 0.5rem 1rem 1rem 1rem;
      transition: background-color 0.2s ease;
      gap: 0.75rem;
      border-radius: $border-radius-small;
      grid-template-columns: auto max-content;
      grid-template-areas: "title rating" "content content" "buttons buttons";

      .newcomment-title {
        grid-area: title;
      }

      .newcomment-content {
        grid-area: content;
      }

      .newcomment-rating {
        grid-area: rating;
        align-self: center;
        margin-left: 0.5rem;
      }

      .newcomment-buttons {
        grid-area: buttons;
        height: fit-content;
        justify-self: flex-end;
        align-self: center;
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

.noresult {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1rem;
  user-select: none;
}

*[theme="dark"] {
  .newcomment-container {
    background-color: rgba($white, 0.04);
  }
}

*[theme="light"] {
  .newcomment-container {
    background-color: rgba($black, 0.06);
  }
}

@include max-550 {
  .menu-container {
    width: calc(100vw - $layout-padding * 2) !important;
  }
}

@include min-1300 {
  .menupage-container {
    flex-direction: row;

    .menupage-comments-container {
      margin-top: 7rem;
      .menupage-comments-content {
        max-width: 50rem !important;
        width: 100% !important;
      }
    }
  }
}
