///////////////////////////////////////////////////////////////////////
//  ______     __         ______     ______     ______     __        //
// /\  ___\   /\ \       /\  __ \   /\  == \   /\  __ \   /\ \       //
// \ \ \__ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \  __ \  \ \ \____  //
//  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \ \_____\ //
//   \/_____/   \/_____/   \/_____/   \/_____/   \/_/\/_/   \/_____/ //
//                                                                   //
///////////////////////////////////////////////////////////////////////

@use "./config/" as *;

//handle theme

:root {
  &[theme="dark"] {
    @include spread-map($all-theme);
    @include spread-map($dark-theme);
  }
  &[theme="light"] {
    @include spread-map($all-theme);
    @include spread-map($light-theme);
  }
}

//scrollbar

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: $border-radius-small;
}

//remove default stylings

html {
  box-sizing: border-box;
  touch-action: manipulation;
  cursor: default;
  scroll-behavior: smooth;
  background-color: var(--primary);
  color: var(--secondary);
}

body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  @include text-font;
}

::selection {
  color: var(--primary) !important;
  background-color: var(--secondary) !important;
}

*,
::before,
::after,
:not(pre),
:not(code) {
  box-sizing: inherit;
  @include text-font;
}

code {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.1ch;
  font-style: normal;
  line-height: initial;
  @include heading-font;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}

img {
  display: block;
  max-width: 100%;
}

img,
svg,
textarea {
  vertical-align: top;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
