@use "../../config" as *;

.popper-root,
.paper-root {
  background-color: transparent !important;
  border: none !important;
}

.list-root {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: $border-radius-small;
}

.option-root {
  &:hover {
    background-color: var(--option-hover) !important;
  }

  &[aria-selected="true"] {
    background-color: var(--option-select) !important;
  }
}

.autocomplete-icon {
  color: var(--secondary) !important;
}

.autocomplete-root {
  &[data-background="true"] {
    background-color: var(--primary);
  }
}
