@use "../../config/" as *;

.list-container {
  display: flex;
}

*[theme="dark"] {
  .listitem-container {
    background-color: rgba($white, 0.04);

    &:hover {
      background-color: var(--option-hover);
    }

    &:active {
      background-color: var(--option-select);
    }
  }
}

*[theme="light"] {
  .listitem-container {
    background-color: rgba($black, 0.02);

    &[data-comment="true"] {
      &:hover {
        background-color: var(--option-select);
      }
    }

    &[data-background="alt"] {
      background-color: rgba($white, 0.03);
      &:hover {
        background-color: var(--option-hover-alt);
      }

      &:active {
        background-color: var(--option-select-alt);
      }
    }
  }
}

.listitem-container {
  display: grid;
  padding: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  gap: 0.75rem;
  transition: background-color 0.2s ease;

  &[data-background="auto"] {
    &:hover {
      background-color: var(--option-hover);
    }

    &:active {
      background-color: var(--option-select);
    }
  }

  border-radius: $border-radius-small;

  &[data-rated="true"] {
    grid-template-areas: "vote title date" "vote description button";
    grid-template-columns: min-content auto min-content;

    .item-title {
      grid-area: title;
      align-self: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-description {
      grid-area: description;
      font-weight: 300;
      font-size: 1.15rem;
      margin-top: -0.75rem;
    }

    .item-button {
      grid-area: button;
      justify-self: flex-end;
      align-self: flex-end;
    }

    .item-vote {
      grid-area: vote;
      margin-right: 0.5rem;
      padding-top: 0.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
    }

    .item-date {
      grid-area: date;
      font-weight: bold;
      font-family: monospace;
      display: flex;
      justify-content: flex-end;
    }
  }

  &[data-comment="true"] {
    cursor: default;
    grid-template-columns: auto min-content;

    &:active {
      background-color: var(--option-hover);
    }

    &[data-editing="true"] {
      border: solid 2px var(--secondary);
      background-color: var(--option-select);
      box-sizing: border-box;
      grid-template-areas: "title rating" "content content" ". creator" "date buttons";

      .item-title,
      .item-content {
        cursor: text;
      }
    }

    &[data-editing="false"] {
      border: solid 2px transparent;
    }

    &[data-editing="false"] {
      grid-template-areas: "title rating" "content content" "date creator";
    }

    .item-title {
      grid-area: title;
      overflow: hidden;
      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .item-rating {
      grid-area: rating;
      justify-self: flex-end;
    }

    .item-content {
      grid-area: content;
      margin-top: -0.75rem;
      font-weight: 300;
      font-size: 1.15rem;
      word-break: break-all;
      div {
        word-break: break-all;
        white-space: pre-line;
      }
    }

    .item-creator {
      grid-area: creator;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-self: flex-end;
      span {
        font-size: 14px;
        white-space: nowrap;
      }
    }

    .item-date {
      grid-area: date;
      font-weight: bold;
      font-family: monospace;
      display: flex;
      justify-content: flex-start;
    }

    .item-button-container {
      grid-area: buttons;
      display: flex;
      justify-self: flex-end;
      gap: 0.5rem;

      .item-buttons {
        display: flex;
        gap: 0.5rem;
      }
    }

    .item-iconbuttons {
      display: flex;
      justify-self: flex-start;
      gap: 0.25rem;

      .item-icon {
        cursor: pointer;
        transition: all 0.2s;
        fill: var(--secondary);
        &:hover {
          fill: $button;
        }
      }
    }
  }
}

@include max-550 {
  .listitem-container {
    &[data-rated="true"] {
      grid-template-areas: "vote title title" "vote description description" "date date button";
      grid-template-columns: min-content auto auto;

      .item-date {
        align-self: flex-end;
        justify-self: flex-start;
      }
    }
  }
}
