@use "../../config/" as *;

.card-container {
  display: grid;
  border-radius: $border-radius-big;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  justify-self: center;
  align-self: center;
  position: relative;
  grid-template-columns: 2.5rem auto auto;
  grid-template-rows: min-content min-content min-content;
  gap: 0.75rem;
  color: $white;
  background-color: transparent;
  transition: all 0.2s ease;

  &[data-background="true"] {
    cursor: pointer;
    filter: $drop-shadow;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-big;
      background-color: var(--home-accent);
      background: $background-gradient;
      z-index: -1;
    }

    &:hover {
      background-color: var(--option-hover);
    }

    &:active {
      background-color: var(--option-select);
    }
  }

  grid-template-areas: "vote title title" "vote description description" "vote price buttons";
  width: 100%;

  &[data-label="true"] {
    .card-title {
      margin-bottom: 0.75rem;
    }
  }

  .card-vote {
    grid-area: vote;
    width: 2.5rem;
  }

  .card-title {
    grid-area: title;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    word-break: break-word;

    & > h2 {
      flex: 1 auto;
    }
  }

  .card-label {
    height: fit-content;
    align-self: center;
    justify-self: flex-end;
    padding: 0.25rem 0.5rem;
    background: $white;
    border-radius: $border-radius-small;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: $button;
    user-select: none;
    align-self: flex-start;
  }

  .card-description {
    grid-area: description;
    display: flex;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: -0.75rem;
  }

  .card-prices-container {
    grid-area: price;
    display: flex;
    align-self: center;
    gap: 0.75rem;

    .price-container {
      padding: 0.125rem 0.4rem;
      width: 100%;
      font-size: 14px;
      border-top-right-radius: $border-radius-small;
      border-top-left-radius: $border-radius-small;
      letter-spacing: 0.1px;
      display: flex;
      width: fit-content;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      justify-content: center;

      .price-group {
        font-weight: bold;
        padding-right: 0.25rem;
      }

      .price-price {
        font-family: monospace;
      }
    }
  }

  .card-buttons {
    grid-area: buttons;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    justify-self: flex-end;
    justify-content: flex-end;
  }

  .label {
    grid-area: label;
  }
}
