@use "../../config/" as *;

/* .menu-root {
} */

.menu-list {
  background-color: var(--primary) !important;
}

.menu-paper {
  background-color: transparent !important;
}

.item-root {
  color: var(--secondary) !important;
  display: flex;
  gap: 0.75rem;
  &:hover {
    background-color: var(--option-hover) !important;
  }

  span[data-endicon="true"] {
    justify-self: flex-end;
  }
}

.item-selected {
  background-color: var(--option-select) !important;
}
