@use "../../config/" as *;

.card-container {
  filter: $drop-shadow;
  display: grid;
  border-radius: $border-radius-big;
  background-color: var(--home-accent);
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  justify-self: center;
  align-self: center;
  position: relative;
  grid-template-rows: min-content;
  gap: 0.75rem;
  color: $white;

  grid-template-areas: "vote title" "vote description" "vote label" "price price";
  height: $menucard-big-height;
  width: $menucard-big-width;

  .card-vote {
    grid-area: vote;
    width: 2.5rem;
  }

  .card-title {
    grid-area: title;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    word-break: break-word;

    & > h2 {
      flex: 1 auto;
    }
  }

  .card-description {
    grid-area: description;
    display: flex;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: -0.75rem;
  }

  .card-prices-container {
    grid-area: price;
    display: flex;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: solid 1px var(--border);
    align-self: flex-end;
    justify-content: space-between;
    margin-bottom: -0.75rem;

    .price-container {
      padding: 0.125rem 0.4rem;
      width: 100%;
      font-size: 14px;
      border-top-right-radius: $border-radius-small;
      border-top-left-radius: $border-radius-small;
      letter-spacing: 0.1px;
      display: flex;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      justify-content: center;

      .price-group {
        font-weight: bold;
        padding-right: 0.25rem;
      }

      .price-price {
        font-family: monospace;
      }
    }
  }

  .label {
    grid-area: label;
  }
}
